---
import '../styles/global.css';
import SiteHeader from '../components/SiteHeader.astro';
import SiteNav from '../components/SiteNav.astro';
import SiteFooter from '../components/SiteFooter.astro';
import { DEFAULT_DESCRIPTION, SITE_NAME } from '../consts';
import type { NavId } from '../consts';
import { siteAssets } from '../data/siteAssets';

interface Props {
  title: string;
  description?: string;
  activeNav?: NavId;
}

const { title, description = DEFAULT_DESCRIPTION, activeNav } = Astro.props;
const fullTitle = `${title} - ${SITE_NAME} - ${SITE_NAME}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <title>{fullTitle}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/awlaw.min.css" />
    <link rel="icon" href={siteAssets.awLogo} type="image/svg+xml" />
  </head>
  <body>
    <SiteHeader />
    <SiteNav activeNav={activeNav} />
    <slot />
    <SiteFooter />
    <script>
      import '../scripts/site.ts';
    </script>
  </body>
</html>
